/* 
  Từ tống quan tới chi tiết
1 Từ ngoài vào trong
2 Từ sau ra trước
3 Từ trên xuống dưới
4 Từ trái sang phải 
*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    display: flex;
}

ul {
    list-style: none;
}


/* ========================HEADER====================================== */

#header {
    background: #23282d;
    padding-top: 27px;
    padding-bottom: 10px;
    margin-bottom: 35px;
}

form#search {
    position: relative;
}

form#search input {
    background: #131619;
    width: 248px;
    border: none;
    outline: none;
    padding: 8px 41px 8px 15px;
    color: #848484;
}

form#search button {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    color: #a2a1a1;
    padding: 9px 10px;
}

form#search::placeholder {
    color: #848484;
}

nav {
    margin-top: 7px;
    flex: 100%;
    border-right: 10px solid #ff2d2d;
}

ul#mainmenu li a {
    padding: 6px 20px;
    color: #c5c6c7;
    display: block;
    text-decoration: none;
}

ul#mainmenu li:first-child a {
    padding-left: 0;
}

ul#mainmenu li a:hover,
ul#mainmenu li.active a {
    color: #4db2ec;
}


/* ========================FEATURE-POST====================================== */

#wp-feature-post {
    margin-bottom: 20px;
}

.box .box-head h3 {
    display: inline-block;
    color: #eee;
    background: #23282d;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1px 15px;
    margin-bottom: 0px;
    font-size: 16px;
}

.box .box-body {
    padding-top: 20px;
}

.box.feature-post .box-body {
    padding-bottom: 30px;
    border-bottom: 1px solid #dadada;
}

ul.list-featured-post li {
    flex: 360px 0 1;
}

a.post-title {
    color: #bfbfbf;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    display: block;
    text-decoration: none;
}

ul.list-featured-post li .post-thumb {
    display: block;
    overflow: hidden;
}

ul.list-featured-post li .post-thumb img {
    transition: all 0.3s;
}

ul.list-featured-post li .post-thumb:hover img {
    transform: scale(1.05);
}


/* ================WRAPPER CONTENT===================================== */

.content {
    flex: 765px;
    padding-right: 15px;
}

.sidebar {
    flex: 375px;
    padding-left: 15px;
}


/* =================   CONTENT====================================== */

.box.new-post .box-head {
    border-bottom: 2px solid #4db2ec;
}

.box.new-post .box-head h3 {
    background: #4db2ec;
}

ul.list-post li {
    display: flex;
    padding-bottom: 40px;
}

ul.list-post li .post-thumb {
    display: block;
    padding-right: 15px;
    flex: 280px;
}

ul.list-post li .post-thumb img {
    width: 280px;
}

ul.list-post li .more-info {
    padding-left: 15px;
    display: block;
}

ul.list-post li .more-info .post-title {
    color: #111111;
    font-size: 21px;
    font-weight: 600;
    display: block;
}

ul.list-post li:hover .more-info a.post-title {
    color: #4db2ec;
}

ul.list-post li .more-info .post-published {
    font-size: 11px;
    font-weight: 600;
    padding: 6px 0px;
}

ul.list-post li .more-info .post-published .post-author {
    color: #111111;
    text-decoration: none;
}

ul.list-post li .more-info .post-published .post-date {
    color: #aaa;
}

ul.list-post li .more-info .post-excerpt {
    font-size: 13px;
    color: #777777;
    margin-bottom: 0px;
}


/* ==================SIDEBAR================================= */

.sidebar a.ads {
    display: block;
    margin-bottom: 40px;
}

.box.top-topic .box-head h3 {
    background: #ff2d2d;
}

.box.top-topic .box-head {
    border-bottom: 2px solid #ff2d2d;
}

ul.list-topic li a {
    position: relative;
    color: #212121;
    font-size: 16px;
    display: block;
}

ul.list-topic li a {
    padding: 6px 0px;
}

ul.list-topic li a span.num-post {
    position: absolute;
    top: 7px;
    right: 20px;
}

ul.list-topic li:hover a {
    color: #ff2d2d;
    text-decoration: none;
}


/* =================================== FOOTER=================================================== */

.footer {
    background: #2e2f30;
    padding-top: 53px;
    padding-bottom: 75px;
    color: #f6f6f6;
}

.footer .box .box-head h3 {
    background: none;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 18px;
}

.footer .box.logo-footer .box-head {
    visibility: hidden;
}

.footer .box .box-body {
    padding-top: 40px;
    font-size: 14px;
}

.footer .box.logo-footer {
    flex: 280px;
    padding-right: 15px;
}

.footer .box.about-us {
    padding-left: 15px;
    padding-right: 180px;
    flex: 680px;
}

.footer .box.about-us a {
    color: #458fba;
}

.footer .box.about-us:hover a {
    text-decoration: none;
}

.footer .box.follow-us {
    flex: 180px;
    padding-left: 15px;
}

.list-social {
    display: flex;
}

ul.list-social li a {
    background: #434648;
    padding: 5px 12px;
    color: #eee;
    display: block;
}

ul.list-social li:first-child {
    margin-left: 0px;
}

ul.list-social li {
    margin-left: 15px;
}

ul.list-social li:hover a {
    color: #4db2ec;
}


/* ==========================COPPY RIGHT======================================= */

.wp-copyright {
    background: #222527;
    color: #fff;
}

.wp-copyright .copyright {
    /* margin-bottom: 0!important; */
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}

ul.footer-menu li a {
    font-size: 14px;
    color: #c9caca;
    padding: 13px 13px;
    display: block;
}

ul.footer-menu li:hover a,
ul.footer-menu li.active a {
    color: #4db2ec;
    text-decoration: none;
}

ul.footer-menu li:last-child a {
    padding-right: 0px;
}